* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* Generales */
a {
  text-decoration: none;
}

body {
  font-family: 'Nunito Sans';
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

.subrayado {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #002fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
/*
*/

/* HEADER */

/*Inicia nuevo menu*/
nav{
  background: #000000;
  height: 80px;
  width: 100%;
}
.enlace{
  position: absolute;
  margin-left: 20px;
}
.logo{
  width: 100px;
} 
nav ul{
  float: right;
  margin-right: 20px;
  padding: 0%;
  margin: 0%;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0px 5px;
  height: 0px;
}
nav ul li a{
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
li a.active, li a:hover{
  background: #4F5D69;
  transition: .5s;
}
.avion-header{
  display: block;
  width: 100%;
  height: 450px;
  margin: auto;
}
/*Termina cambio de menu*/


/* MAIN */
.main {
  background-color: #10161E;
  width: auto;
}

.main-contenido {
  display: flex;
  flex-direction: column;
}

.cont-bienv{
  text-align: center;
}

.cont-bienv h1 {
  font-size: 60px;
  color: #fff;
  font-family: Noto Sans, sans-serif;
  border: 5px solid #00D1FF;
}

.contenido-textos {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.contenido-textos:nth-child(1) p {
  margin: auto;
  font-size: 16px;
}

.texto-img {
  filter: drop-shadow(0px -2px 1px rgb(255, 255, 255));
}

.texto-img img {
  width: 100px;
  filter: drop-shadow(0px 2px 1px rgb(255, 255, 255));
}

.contenido-imagen {
  background-image: url(/imagenes/airplane.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
}

.section-centrado {
  display: flex;
}

.section-centrado h2 {
  margin: auto;
  margin-top: 40px;
  font-size: 30px;
}


  

/* Incio: CSS TARJETAS Index.html*/
.section-cards {
  display: flex;
  justify-content: space-evenly;
  width: 650px;
  width: 100%;
  margin: auto;
  padding: 5px;
}

.plan-card {
  background: #4d4d4d;
  width: 15rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1%;
  padding-bottom: 20px;
  border-radius: 10px;
  border-bottom: 4px solid #000446;
  box-shadow: 0 6px 30px rgba(0, 255, 255, 0.3);
  font-family: "Poppins", sans-serif;
}

.plan-card h2 {
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: 600;
}

.plan-card h2 span {
  display: block;
  margin-top: -4px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.etiquet-price {
  position: relative;
  background: #fdbd4a;
  width: 14.46rem;
  margin-left: -0.65rem;
  padding: .2rem 1.2rem;
  border-radius: 5px 0 0 5px;
}

.etiquet-price p {
  margin: 0;
  padding-top: .4rem;
  display: flex;
  font-size: 1.9rem;
  font-weight: 500;
}

.etiquet-price p:before {
  content: "$";
  margin-right: 5px;
  font-size: 15px;
  font-weight: 300;
}

.etiquet-price p:after {
  content: "/ x mes";
  margin-left: 5px;
  font-size: 15px;
  font-weight: 300;
}

.etiquet-price div {
  position: absolute;
  bottom: -23px;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 13px solid #c58102;
  border-bottom: 10px solid transparent;
  border-right: 13px solid transparent;
  z-index: -6;
}

.benefits-list {
  margin-top: 16px;
}

.benefits-list ul {
  padding: 0;
  font-size: 14px;
}

.benefits-list ul li {
  color: #ffffff;
  list-style: none;
  margin-bottom: .2rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.benefits-list ul li svg {
  width: .9rem;
  fill: currentColor;
}

.benefits-list ul li span {
  font-weight: 300;
}

.button-get-plan {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
}

.button-get-plan a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000446;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: .8rem;
  letter-spacing: .05rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.button-get-plan a:hover {
  transform: translateY(-3%);
  box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
}

.button-get-plan .svg-rocket {
  margin-right: 10px;
  width: .9rem;
  fill: currentColor;
}

/*Termina: CSS TARJETAS Index.html*/

.home .hoteles .contactanos {

  font-family: 'Nunito Sans';
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
}


.hotelpor {
  font-size: 5%;
}

.portogalina {
  margin: 25px;
  padding: 5px;
  border: 3px;
}

.hotelmaldivas {
  margin: 25px;
  padding: 5px;
  border: 3px;
  width: 350px;
  height: 256px;
}

.hotelairliebeach {
  display: flex;
  margin: 25px;
  padding: 5px;
  border: 3px;
  width: 350px;
  height: 256px;
}

.tabla-container {
  padding-top: 5%;
}

.tabla {
  width: 50%;
  font-size: 3rem;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}

.tabla,
.tabla th,
.tabla td {
  border: 1px solid #00D1FF;

}

.titulosurf {
  font-size: 4rem;
}

.container-titulo {
  display: flex;
  justify-content: center;
}

.container-lista {
  font-size: 3rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-top: 7.5%;
}

.container-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 5%;
}

.container-imagen {
  width: 50%;
  display: flex;
  justify-content: center;
  /* object-fit: cover; */
}

.surf-img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formulario .tabla {
  margin-top: 5%;
  width: 50%;
  background-color: #c4c4c4;
  border-radius: 15px;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabla {
  align-items: center;
}

.formulario input {
  display: block;
  margin-top: 5%;
  font-size: 2rem;
  width: 100%;
  border-radius: 15px;
  padding-left: 5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%
}

.formulario_extra {
  display: flex;
  flex-direction: row;
}

.formulario_extra :first-child {
  margin-right: 5%
}

.button {
  margin-top: 5%;
  background-color: #000000;
  color: white;
  padding: 1.5%;
  font-size: 2rem;
  border-radius: 15px;
}

.tituloform {
  font-size: 5rem;
  text-align: center;
  padding-top: 3%;
}

.captcha_container {
  width: 100%;
  background-color: gray;
  margin-top: 12.5%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.captcha_container h2 {
  font-size: 3rem;

}

.result {
  font-size: 2rem;
  color: #000000;
}