* {
    box-sizing: border-box;
  }

  .nav {
    transform: translateY(-400%);
  }
  
  .nav--show {
    transform: translateY(0);
  }

  /* Generales */
  a {
    text-decoration: none;
  }

  body {
    font-family: 'Nunito Sans';
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .subrayado {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(255, 0, 0);
  }

  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }


/*  --------------------------------------------*/


  /* HEADER */

  /* Setting the background image of the header. */
  .header {
    background-image: url(../imagenes/airplane.webp);
    background-blend-mode: multiply;
    background-size: cover;
  }

 /* Setting the display of the header-navBar to flex, the justify-content to space-between, the width
 to 1300px, the align-items to center, and the margin to auto. */
  /* Centering the navbar. */
  .header-navBar {
    width: 100%;
    align-items: center;
    margin: auto;
  }

  /* Setting the width, border-radius, margin-top, and filter of the first image in the header-navBar. */
  .header-navBar:nth-child(1) img {
    width: 10%;
    border-radius: 100px;
    margin-top: 10px;
    filter: drop-shadow(0px 2px 1px rgb(21, 44, 250));

  }

  .header-navBar nav {
    display: flex;
    color: white;
    gap: 2rem;
  }

  .header-navBar nav a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 1s;
  }

  .header-navBar nav a:hover {
    color: rgb(0, 247, 255);
    transition: 1s;
  }

  .header-titulo {
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }

  .header-titulo h1 {
    filter: drop-shadow(0px 2px 1px rgb(0, 204, 255));
  }

  .header-flecha {
    display: flex;
    justify-content: center;
  }

  .header-flecha img {
    width: 200px;
    height: auto;
    transition: 1s;
  }

  .header-flecha img:hover {
    width: 230px;
    height: auto;
    transition: 1s;
  }

  /* MAIN */
  .main {
    background-color: #10161E;
    width: auto;
  }

  .main-contenido {
    display: flex;
    flex-direction: column;
  }

  .contenido-textos {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }

  .contenido-textos:nth-child(1) p {
    margin: auto;
    font-size: 16px;
  }

  .texto-img {
    filter: drop-shadow(0px -2px 1px rgb(255, 255, 255));
  }

  .texto-img img {
    width: 100px;
    filter: drop-shadow(0px 2px 1px rgb(255, 255, 255));
  }
  .section-centrado {
    display: flex;
  }

  .section-centrado h2 {
    margin: auto;
    margin-top: 40px;
    font-size: 30px;
  }

  @media only screen and (max-width: 1019px) {
  .section-contenido {
    background-color: rgba(0, 0, 0, 0.445);
    overflow-x: scroll;
    margin: auto;
    margin-top: 30px;

  }
  }

  .section-cards {
    display: flex;
    justify-content: space-between;
    width: 650px;
    width: 100%;
    margin: auto;
    padding: 5px;
  }
  

  /* CSS TARJETAS */
  /* From uiverse.io by @abrahamcalsin */
  .plan-card {
    background: #4d4d4d;
    width: 15rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1%;
    padding-bottom: 20px;
    margin: 0 20%;
    border-radius: 10px;
    border-bottom: 4px solid #000446;
    box-shadow: 0 6px 30px rgba(0, 255, 255, 0.3);
    font-family: "Poppins", sans-serif;
  }

  .plan-card h2 {
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: 600;
  }

  .plan-card h2 span {
    display: block;
    margin-top: -4px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }

  .etiquet-price {
    position: relative;
    background: #fdbd4a;
    width: 14.46rem;
    margin-left: -0.65rem;
    padding: .2rem 1.2rem;
    border-radius: 5px 0 0 5px;
  }

  .etiquet-price p {
    margin: 0;
    padding-top: .4rem;
    display: flex;
    font-size: 1.9rem;
    font-weight: 500;
  }

  .etiquet-price p:before {
    content: "$";
    margin-right: 5px;
    font-size: 15px;
    font-weight: 300;
  }

  .etiquet-price p:after {
    content: "/ x mes";
    margin-left: 5px;
    font-size: 15px;
    font-weight: 300;
  }

  .etiquet-price div {
    position: absolute;
    bottom: -23px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 13px solid #c58102;
    border-bottom: 10px solid transparent;
    border-right: 13px solid transparent;
    z-index: -6;
  }

  .benefits-list {
    margin-top: 16px;
  }

  .benefits-list ul {
    padding: 0;
    font-size: 14px;
  }

  .benefits-list ul li {
    color: #ffffff;
    list-style: none;
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .benefits-list ul li svg {
    width: .9rem;
    fill: currentColor;
  }

  .benefits-list ul li span {
    font-weight: 300;
  }

  .button-get-plan {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
  }

  .button-get-plan a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000446;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: .8rem;
    letter-spacing: .05rem;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .button-get-plan a:hover {
    transform: translateY(-3%);
    box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
  }

  .button-get-plan .svg-rocket {
    margin-right: 10px;
    width: .9rem;
    fill: currentColor;
  }

  .home .hoteles .contactanos {

    font-family: 'Nunito Sans';
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
  }


  .hotelpor {
    font-size: 5%;
  }

  .portogalina {
    margin: 25px;
    padding: 5px;
    border: 3px;
  }

  .hotelmaldivas {
    margin: 25px;
    padding: 5px;
    border: 3px;
    width: 350px;
    height: 256px;
  }

  .hotelairliebeach {
    display: flex;
    margin: 25px;
    padding: 5px;
    border: 3px;
    width: 350px;
    height: 256px;
  }

  .tabla-container {
    padding-top: 5%;
  }

  .tabla {
    width: 50%;
    font-size: 3rem;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
  }

  .tabla,
  .tabla th,
  .tabla td {
    border: 1px solid #00D1FF;

  }

  .titulosurf {
    font-size: 4rem;
  }

  .container-titulo {
    display: flex;
    justify-content: center;
  }

  .container-lista {
    font-size: 3rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding-top: 7.5%;
  }

  .container-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5%;
  }

  .container-imagen {
    width: 50%;
    display: flex;
    justify-content: center;
    /* object-fit: cover; */
  }

  .surf-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    object-fit: cover;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .formulario .tabla {
    margin-top: 5%;
    width: 50%;
    background-color: #c4c4c4;
    border-radius: 15px;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tabla {
    align-items: center;
  }

  .formulario input {
    display: block;
    margin-top: 5%;
    font-size: 2rem;
    width: 100%;
    border-radius: 15px;
    padding-left: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%
  }

  .formulario_extra {
    display: flex;
    flex-direction: row;
  }

  .formulario_extra :first-child {
    margin-right: 5%
  }

  .button {
    margin-top: 5%;
    background-color: #000000;
    color: white;
    padding: 1.5%;
    font-size: 2rem;
    border-radius: 15px;
  }

  .tituloform {
    font-size: 5rem;
    text-align: center;
    padding-top: 3%;
  }

  .captcha_container {
    width: 100%;
    background-color: gray;
    margin-top: 12.5%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }

  .captcha_container h2 {
    font-size: 3rem;

  }

.result {
  font-size: 2rem;
  color: #000000;
}


@media only screen and (min-width: 720px){
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* Generales */
  a {
    text-decoration: none;
  }

  body {
    font-family: 'Nunito Sans';
    color: white;
    margin: 0;
    padding: 0;
  }


  /** Utilidades **/
  .subrayado {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #00D1FF;
  }


@media  screen and (min-width: 1020px) {
  .Navb {
  display: none;
  }
}




  /* HEADER */

  .header {
    background-image: url(../imagenes/airplane.webp);
    background-blend-mode: multiply;
    background-size: cover;
  }

  .nav {
    transform: translateY(0);
  }

  .header-navBar {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    align-items: center;
    margin: auto;
  }

  .header-navBar:nth-child(1) img {
    width: 100px;
    border-radius: 100px;
    margin-top: 10px;
    filter: drop-shadow(0px 2px 1px rgb(0, 204, 255));

  }

  .header-navBar nav {
    display: flex;
    color: white;
    gap: 2rem;
  }

  .header-navBar nav a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 1s;
  }

  .header-navBar nav a:hover {
    color: rgb(0, 247, 255);
    transition: 1s;
  }

  .header-titulo {
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }

  .header-titulo h1 {
    filter: drop-shadow(0px 2px 1px rgb(0, 204, 255));
  }

  .header-flecha {
    display: flex;
    justify-content: center;
    margin-top: 190px;
  }

  .header-flecha img {
    width: 200px;
    height: auto;
    transition: 1s;
  }

  .header-flecha img:hover {
    width: 230px;
    height: auto;
    transition: 1s;
  }

  /* MAIN */
  .main {
    background-color: #10161E;

    height: 1000px;
  }

  .main-contenido {
    display: flex;
  }

  .contenido-textos {
    width: 800px;
    text-align: center;
    font-size: 20px;
  }

  .contenido-textos:nth-child(1) p {
    width: 400px;
    margin: auto;
    font-size: 16px;
  }

  .texto-img {
    filter: drop-shadow(0px -2px 1px rgb(255, 255, 255));
  }

  .texto-img img {
    width: 100px;
    filter: drop-shadow(0px 2px 1px rgb(255, 255, 255));
  }

  .contenido-imagen {
    display: 	flex;
    margin: auto;
    border: #000000dc;
    border-style: dashed;
    border-width: 5px;
    border-radius: 100px;
    margin-right: 4rem;
    background-image: url(/imagenes/airplane.webp);
    width: 800px;
    height: 200px;
  }

  .section-centrado {
    display: flex;
  }

  .section-centrado h2 {
    margin: auto;
    margin-top: 40px;
    font-size: 30px;
  }

  .section-contenido {
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 300px;

  }

  .section-cards {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0;
    padding: 5px;
  }

  /* CSS TARJETAS */
  /* From uiverse.io by @abrahamcalsin */
  .plan-card {
    background: #4d4d4d;
    width: 15rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-bottom: 4px solid #000446;
    box-shadow: 0 6px 30px rgba(0, 255, 255, 0.3);
    font-family: "Poppins", sans-serif;
  }

  .plan-card h2 {
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: 600;
  }

  .plan-card h2 span {
    display: block;
    margin-top: -4px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }

  .etiquet-price {
    position: relative;
    background: #fdbd4a;
    width: 14.46rem;
    margin-left: -0.65rem;
    padding: .2rem 1.2rem;
    border-radius: 5px 0 0 5px;
  }

  .etiquet-price p {
    margin: 0;
    padding-top: .4rem;
    display: flex;
    font-size: 1.9rem;
    font-weight: 500;
  }

  .etiquet-price p:before {
    content: "$";
    margin-right: 5px;
    font-size: 15px;
    font-weight: 300;
  }

  .etiquet-price p:after {
    content: "/ x mes";
    margin-left: 5px;
    font-size: 15px;
    font-weight: 300;
  }

  .etiquet-price div {
    position: absolute;
    bottom: -23px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 13px solid #c58102;
    border-bottom: 10px solid transparent;
    border-right: 13px solid transparent;
    z-index: -6;
  }

  .benefits-list {
    margin-top: 16px;
  }

  .benefits-list ul {
    padding: 0;
    font-size: 14px;
  }

  .benefits-list ul li {
    color: #ffffff;
    list-style: none;
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .benefits-list ul li svg {
    width: .9rem;
    fill: currentColor;
  }

  .benefits-list ul li span {
    font-weight: 300;
  }

  .button-get-plan {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
  }

  .button-get-plan a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000446;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: .8rem;
    letter-spacing: .05rem;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .button-get-plan a:hover {
    transform: translateY(-3%);
    box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
  }

  .button-get-plan .svg-rocket {
    margin-right: 10px;
    width: .9rem;
    fill: currentColor;
  }

  .home .hoteles .contactanos {

    font-family: 'Nunito Sans';
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .box_hotelportogalinas {
    display: flex;
    margin: auto;
  }

  .hotelport {
    display: flex;
  }

  .portogalina {
    margin: 25px;
    padding: 5px;
    border: 3px;
  }

  .hotelmaldivas {
    margin: 25px;
    padding: 5px;
    border: 3px;
    width: 350px;
    height: 256px;
  }

  .hotelairliebeach {
    display: flex;
    margin: 25px;
    padding: 5px;
    border: 3px;
    width: 350px;
    height: 256px;
  }

  .tabla-container {
    padding-top: 5%;
  }

  .tabla {
    width: 50%;
    font-size: 3rem;
    margin: auto;
    /* border: 1px solid #00D1FF; */
    text-align: center;
    border-collapse: collapse;
  }

  .tabla,
  .tabla th,
  .tabla td {
    border: 1px solid #00D1FF;

  }

  .titulosurf {
    font-size: 4rem;
  }

  .container-titulo {
    display: flex;
    justify-content: center;
  }

  .container-lista {
    font-size: 3rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding-top: 7.5%;
  }

  .container-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5%;
  }

  .container-imagen {
    width: 50%;
    display: flex;
    justify-content: center;
    /* object-fit: cover; */
  }

  .surf-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    object-fit: cover;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .formulario {
    margin-top: 5%;
    width: 50%;
    background-color: #c4c4c4;
    border-radius: 15px;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .formulario input {
    display: block;
    margin-top: 5%;
    font-size: 2rem;
    width: 100%;
    border-radius: 15px;
    padding-left: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%
  }

  .formulario_extra {
    display: flex;
    flex-direction: row;
  }

  .formulario_extra :first-child {
    margin-right: 5%
  }

  .button {
    margin-top: 5%;
    background-color: #000000;
    color: white;
    padding: 1.5%;
    font-size: 2rem;
    border-radius: 15px;
  }

  .tituloform {
    font-size: 5rem;
    text-align: center;
    padding-top: 3%;
  }

  .captcha_container {
    width: 100%;
    background-color: gray;
    margin-top: 12.5%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }

  .captcha_container h2 {
    font-size: 3rem;

  }

.result {
  font-size: 2rem;
  color: #000000;
}
}